[flake8]
max-line-length = 88
select = C,E,F,W,B,B950
extend-ignore = E203, E501
per-file-ignores =
  pipeline/model_training.py:F821
  pipeline/model_inference.py:F821
  pipeline/modules/utils/types/dbutils.py:N803,N802
